<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-in</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    
    <h1>Enter the <u>secret</u> pin:</h1>
    <hr>

    <!-- Form to get the entered pin -->
    <form method="post">
        <label for="code"><u>Secret</u> pin</label> <br>
        <input type="password" name="code" id="code"> <br><br>
        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
    </form>

</body>
</html>