<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My website</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <b>
        <h1 style="color: lime;">Congratulations!</b></h1>
        <hr>
        <h2>You have the correct pin</h2>
        <p>Now, this website <strong><u>should be replaced</u></strong> with the actual one you want to be behind the secret pin</p>
    </b>

</body>
</html>